/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* BODY */
body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),#38008C);
    color: #a020f0;
    font-family: 'Courier New', Verdana, sans-serif;
    padding-top: 5em;

}
    

.center{
    display: flex;
    justify-content: center;
    justify-items: center;
   
}

.left{
 display: flex;
justify-content: left;
float:right;   
width: 8%;
}

img{
    width: 50%;
    height: auto;
    border-radius: 0.5rem;
}
/* PARÁGRAFOS */
p {
    color: #DA8AFF;
    line-height: 1.6;
    padding: 0.6em 1.2em;
    font-size:larger
}

/* CABEÇALHO */
/*esse elemento acompanha o scroll da página*/


header {
    width: 100%;
    background-color: #111;
    padding: 0.7em 0;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0.20em solid #6a0dad;
}

/* MENU */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5em;
}

/* LINKS DAS ABAS */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

/* Destaca links do menu ao passar o mouse */
 header nav ul li a:hover {
    color: #a020f0;
}

/* ABA ATIVA (página atual) */
nav ul li a.active {
    color: #ff00ff;
    font-weight: bold;
}

footer{

    font-size: 1em;
    clear: both;
    display: flex;
    padding: 1em 0;
    margin-top: 10em;
    background:#111;
    color:#a020f0;
}



.wrapper{
    display: flex;
    flex-direction: row;
}
.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center_text{
    text-align: center;
    transition:0.3s;
    cursor: pointer;
     line-height: 1.6;
    padding: 0.6em 1.2em;
    font-size:large;
}

.center_text:hover {
    color:   #ff00ff;
   
}


#conteudo-secundario p {
    font-size: 0.875em;
}
#conteudo-secundario {
    float: left;
    width: 100%;
    padding: 1em;
}

.conteudo-secundario {
    background:#1e082c;
    color:#a020f0;
  
  
}

/* tabela e lista*/

table{
    border:double;
    border-color: #6a0dad;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
    
    
}

.capitulos{
    display: flex;
    flex-direction: column;
    text-align:center;
    padding: 0.1;
}

    .cap img{
    display: flex;
    justify-content: center;
    width:100%;
    height: auto;
   
    
}

.mouse:hover {
     color: #ff00ff;
     
}

.mouse{
    transition: 1.5s;
    cursor: pointer;
}

.pares:hover{
    color: #0037ff;
}

.pares{
    color:#DA8AFF;
     transition: 1.5s;
    cursor: pointer;
     line-height: 1.6;
    padding: 0.6em 1.2em;
    font-size:larger;
     text-align: center;
}



/*formulário */


        .campo { 
    margin-bottom: 1em; 
}

input[type="text"], 
input[type="email"], 

textarea {
    width: 50%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 0.06em solid #ccc;
    border-radius: 0.25em;
}

button {
    padding: 0.6em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.opção input [type="radio"] {
    margin-right: 5em;
}

.opção label {
    margin-right: 3.5em;
}

.botoes {
    display: flex;
    gap: 0.5em; /* espaço entre os botões */
    margin-top: 0.8em;
}